{% extends 'layout.jinja2' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <form action="{{ url_for('reload_dynamic_ui') }}" method="post">
        <p>You have not configured the UI. Please create a configuration file as per the UI development guidelines</p>
        <input type="text" name="filename">
        <input type=submit value=Reload UI>
    </form>
{% endblock %}