{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<form action="{{ url_for('predict') }}" method="post">
       {% for elem in ui_config %}
            {{ form|attr(elem)() }}
       {% endfor %}
    <input type=submit value=Predict>
</form>
{% endblock %}